<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h2>Категории</h2>

<a href="{% url 'admin_custom:category_create' %}">Создать новую категорию</a>
<ul>
{% for object in object_list %}
    <li>
        {{ object.name|title }}
        <a href="{% url 'admin_custom:category_update' object.pk %}">Редактировать</a>
        <a href="{% url 'admin_custom:category_delete' object.pk %}">Удалить</a>
    </li>
{% endfor %}
</ul>
</body>
</html>